$primary-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
$global-font-size: 16px; 
$font-primary-color: #333;

$k-font-size-h1:  36px !default;
$k-font-size-h2:  28px !default;
$k-font-size-h3:  24px !default;
$k-font-size-h4:  20px !default;
$k-font-size-h5:  18px !default;
$k-font-size-h6:  16px !default;