html,
body {
    font-family: $primary-font-family; 
    font-size: $global-font-size;
    overflow-y: scroll;
    min-height: 100%;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    color: $font-primary-color;
}