#{$all-buttons} {
  display: inline-block;
  position: relative;
  color: $btn-button-color;
  background: transparent;
  font-size: $btn-font-size;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  vertical-align: bottom;
  white-space: nowrap;
  text-rendering: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
}